<div class="contact-form">
  <form method="POST" action="">
        <div class="contact-form-pair">
            <input type="email" name="name" class="contact-form-email" placeholder="Escreva aqui o seu email.">
            <button type="submit">Saiba mais!</button>
        </div>
  </form>
    <p><i class="fa fa-lock"></i> Não compartilhamos suas informações com ninguém.</p>
</div>
